/* Common Styles */
* {
    box-sizing: border-box;
}

:root {
    --bs-primary: #1976d2;
    --primary: #1976d2;
    --light: #63a4ff;
    --dark: #004ba0;
    --secondary: #ff8f00;
    --light-secondary: #ffc046;
    --dark-secondary: #c56000;
    --grey: #9e9e9e;
    --light-grey: #f5f5f5;

}

body {
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noticia Text', serif;
}

.hidden {
    display: none !important;
}

/* navbar */
.navbar-brand,
.offcanvas-title {
    font-family: 'Megrim', cursive !important;
    text-shadow: var(--dark) 2px 2px;
    font-size: 2.5rem;
    line-height: 0.75;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-brand:hover {
    text-decoration: none;
    color: white;
}

.scrolled {
    background-color: var(--primary);
}

#navbarOffcanvasLg {
    background-color: var(--dark);
}

.offcanvas-header {
    background-size: cover;
    background-position: center center;
}

#russell {
    color: var(--secondary);
}

.active {
    color: var(--secondary) !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        justify-content: center;
    }

    .offcanvas-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        font-size: 3rem;
    }

    .nav-item {
        text-align: center;
    }

    .navbar-nav li::before {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        content: "";
        width: 90%;
        height: 1px;
        background-color: #000000;

    }

    .navbar-nav li:first-child::before {
        display: none;
    }

    #navbarOffcanvasLg {
        width: 100vw;
    }
}

/* End navbar */

.blur-bg {
    backdrop-filter: blur(5px);
}

#preloader {
    background: linear-gradient(-45deg, #dc5228, #3a3a45, #23a6d5, #021e17);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.spacer-small {
    height: 81px;
}

/* Font Scaling */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,30,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1920;

    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1920px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    --f--2-min: 11.11;
    --f--2-max: 19.20;
    --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) * var(--fluid-bp));

    --f--1-min: 13.33;
    --f--1-max: 24.00;
    --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) * var(--fluid-bp));

    --f-0-min: 16.00;
    --f-0-max: 30.00;
    --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp));

    --f-1-min: 19.20;
    --f-1-max: 37.50;
    --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp));

    --f-2-min: 23.04;
    --f-2-max: 46.88;
    --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp));

    --f-3-min: 27.65;
    --f-3-max: 58.59;
    --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp));

    --f-4-min: 33.18;
    --f-4-max: 73.24;
    --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp));

    --f-5-min: 39.81;
    --f-5-max: 91.55;
    --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp));
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}