/* Import font */

:root {
    --smilesize: var(--step-5);
}

#smile {
    margin: 0;
    display: inline-block;
    max-width: calc(var(--smilesize));
    max-height: calc(var(--smilesize));
}

.face {
    position: relative;
    width: calc(var(--smilesize));
    height: calc(var(--smilesize));
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transform: translate(0, calc(var(--smilesize) * -0.166666666));
}

.face::before {
    content: '';
    position: absolute;
    top: calc(var(--smilesize) * 0.6);
    width: calc(var(--smilesize) * 0.5);
    height: calc(var(--smilesize) * 0.23);
    background: #b57700;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.face:hover::before {
    top: calc(var(--smilesize) * 0.7);
    width: calc(var(--smilesize) * 0.5);
    height: calc(var(--smilesize) * 0.0666666666666666);
    background: #b57700;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes {
    position: relative;
    top: calc(var(--smilesize) * -0.133333333333333);
    display: flex;
}

.eyes .eye {
    position: relative;
    width: calc(var(--smilesize) * 0.266666666666);
    height: calc(var(--smilesize) * 0.266666666666);
    display: block;
    background: #fff;
    margin: 0 calc(var(--smilesize) * 0.05);
    border-radius: 50%;
}

.eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(var(--smilesize) * 0.083333333333);
    transform: translate(-50%, -50%);
    width: calc(var(--smilesize) * 0.13333333333333);
    height: calc(var(--smilesize) * 0.13333333333333);
    background: #333;
    border-radius: 50%;
}
