<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - New</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
        <div class="spacer-small">
        </div>
        <div class="container">
            <form action="/articles" method="post" novalidate>
                <%- include('../partials/_form_fields') %>
            </form>
        </div>
        <%- include('../partials/_end_scripts') %>
        <!-- Script element sourcing TinyMCE -->
        <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
        <!-- Script element sourcing the TinyMCE configuration -->
        <script type="application/javascript" src="/js/tinymce.js"></script>
</body>

</html>