<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - New</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
        <div id="header-small">
            <div id="header-image"></div>
        </div>
        <div id="spacer-small">
        </div>
        <div class="container">
            <h1 class="mb-4">New Article</h1>
            <form action="/articles" method="post" novalidate>
                <%- include('../partials/_form_fields') %>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
            </script>
        <script src="../js/main.js"></script>
        <!-- Script element sourcing TinyMCE -->
        <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
        <!-- Script element sourcing the TinyMCE configuration -->
        <script type="application/javascript" src="/js/tinymce.js"></script>
</body>

</html>