<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
        <link rel="stylesheet" href="/css/404.css">
        <title>404</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
    <div class="spacer-small mb-3"></div>
            <div class="main-content d-flex flex-column align-items-center justify-content-around">
                <h1>Error 404</h1>
                <h2>Sorry, I can't find the page you are looking for.</h2>
            </div>
    <%- include('../partials/_end_scripts') %>
    <script src="../js/swipe.js"></script>
</body>

</html>