<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <link rel="stylesheet" href="../css/about.css">
        <title>CR - About</title>
</head>

<body>
    <%- include('../partials/_loader') %>
    <%- include('../partials/_main_navigation') %>
        <h1 class="pt-5">Here is a timeline of my life</h1>
        <div class="timeline-container">
            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                <div class="list-progress">
                    <div class="inner">
                    </div>
                </div>
                <li>
                    <h2>The Beginning</h2>
                    <p>I was born in Ontario but have spent most of my life in Winnipeg, Manitoba. I have always loved building and creating things.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-house-chimney date">1996</i>
                    </div>
                </li>
                <li>
                    <h2>School Years</h2>
                    <p>Growing up, and still today, I love building Lego's. My favorite game was Minecraft - especially modded minecraft. I liked creating elaborate factories and machines and optimizing every last thing.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-school date">2002<br>- 14</i>
                    </div>
                </li>
                <li>
                    <h2>University of Manitoba</h2>
                    <p>After graduating from high school, I moved back to Winnipeg to go to study music. It did not take me long to realize that as much as I loved music, doing it for work was not for me.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-house-chimney date">2014</i>
                    </div>
                </li>
                <li>
                    <h2>Canadian Mennonite University</h2>
                    <p>I was told by one of my friends that CMU had a really good math professor, and that the classes were much smaller. I thought this would be a much better fit for me. However, going into my 3rd year, I decided math was not the field for me. I had good grades, and felt like I was good at it, but I did not have the passion for it.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-circle-info date">2015<br> - 18</i>
                    </div>
                </li>
                <li>
                    <h2>The Sign Source Ltd.</h2>
                    <p>I took a break from school to figure out what I really wanted to do. I did not want to keep switching programs. It explored many options - engineering, architechture, electrician, etc. but none of them seemed to fit. Then I met a friend who was in computer science. He told me about how creative it was, and how he got to build websites and other programs. This sparked my interest - I knew from working at the Sign Source that I loved making things.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-phone date">2018<br> - 21</i>
                    </div>
                </li>
                <li>
                    <h2>University of Winnipeg</h2>
                    <p>I was so excited to start programming once I start at the UofW. I took every programming class I could, and got A's in all of them. After I took Data Structures and Algorithims, things really started to make sense. Because I transferred my credits from CMU I was able to graduate with a 3 year Bachelor of Science Degree in just 2 years.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-phone date">2020<br> - 22</i>
                    </div>
                </li>
                <li>
                    <h2>Now</h2>
                    <p>Now I am working on my portfolio, and looking for a job. I am also working on a few personal projects, and learning new things. I really enjoy game development and web development. I love learning every part of software development and seeing how all the different parts work together. It scratches the same itch that games like minecraft and factorio do for me.</p>
                    <div class="icon-holder">
                        <i class="fa-solid fa-phone date">Today<br> -</i>
                </li>
            </ul>
        </div>
        <%- include('../partials/_end_scripts') %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="../js/swipe.js"></script>
        <script src="../js/about.js"></script>
</body>

</html>