<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - About</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
    <!-- End Navigation Bar -->
        <div id="header">
            <div id="header-image"></div>
            <div id="header-text"><h1>About!</h1></div>
        </div>
        <div id="spacer"></div>
        <!-- Main Content -->
        <div class="container mt-4">
            <div class="card px-3 px-2 ">
                <p class="card-text text-center">Hello this is a description of what I do and stuff.</p>
            </div>
        </div>
        <%- include('../partials/_end_scripts') %>
        <script src="../js/swipe.js"></script>
</body>

</html>