<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - Contact</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
    <!-- End Navigation Bar -->
    <div id="header">
        <div id="header-image"></div>
        <div id="header-text"><h1>Connect with me!</h1></div>
    </div>
    <div id="spacer"></div>
        <!-- Main Content -->
        <div class="container mt-2 d-flex flex-column align-items-center justify-content-center">
            <div class="card text-center mt-5 py-0 px-0">
                <div class="card-body">
                    <img alt="profile image" class="rounded-circle" src="../img/alison.jpg" width="200" height="200"
                        style="border: 1px solid black;">
                </div>
                <div class="card-body py-0 px-0">
                    <h5 class="card-title">Charles Russell</h5>
                    <p class="card-text">Didsbury, Alberta</p>
                    <p class="card-text">Phone: (403) 507-3106</p>
                    <div class="card-footer text-muted py-2 px-0">
                        <div class="d-flex flex-row justify-content-evenly w-100">
                            <a href="tel:+4035073106">
                                <i class="bi bi-telephone"></i>
                                <span>Call</span>
                            </a>
                            <!-- @Todo - Update Email -->
                            <a href="mailto:example@gmail.com">
                                <i class="bi bi-envelope"></i>
                                <span>Email</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/_end_scripts') %>
</body>

</html>