<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - Home</title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
    
    <div class="container-fluid d-flex justify-content-center align-items-center" id="landing">
        <h1 id="welcome-text"></h1><h1 class="blink" id="cursor">|</h1>
    </div>

    <%- include('../partials/_end_scripts') %>
    <script src="../js/home.js"></script>
</body>

</html>