<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_default_head') %>
    <title>CR - Login</title>
</head>
<body>
    <%- include('../partials/_main_navigation') %>
    <!-- End Navigation Bar -->
    <div id="header-small">
        <div id="header-image"></div>
    </div>
    <div id="spacer-small"></div>
        <div class="container d-flex align-items-center justify-content-center" id="loginContainer">
            <div class="row align-items-center py-5 justify-content-center col-lg-10">
                <div class="col-lg-7 text-center text-lg-start">
                    <!-- Error Message -->
                    <% if(locals.err) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= locals.err %>
                        </div>
                        <% } %>
                            <h1 class="display-4 fw-bold lh-1 mb-3">Login</h1>
                            <p class="col-lg-10 fs-4">Say something cool here.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" action="login" method="POST">
                        <div class="form-floating mb-3">
                            <input name="username" type="username" class="form-control" id="username"
                                placeholder="myusername">
                            <label for="username">User name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="password" type="password" class="form-control" id="password"
                                placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                    </form>
                    <div class="text-center text-muted">
                        <p class="fs-4 mt-2">Don't have an account? <a href="/register">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/_end_scripts') %>
</body>

</html>