<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>CR - Blog</title>
</head>

<body>
    <%- include('../partials/_loader') %>
    <%- include('../partials/_main_navigation') %>
    <!-- End Navigation Bar -->
    <div id="header-small">
        <div id="header-image">
        </div>
    </div>
    <div id="spacer-small">
    </div>
    <!-- Main Content -->
    <%- include('../partials/_end_scripts') %>
</body>

</html>